/* to reset the default spacing in the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* To Box Model */
}

/* Global */
body {
    font-family: "Merriweather", sans-serif;
    background-color: #ebf2ff;
    overflow-x: hidden;
}

/* here for the sake of reusability nav__item properties are 
copied to button_primary*/
.button__primary {
    /* gradient color */
    background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    /* applying the whole color of button to white */
    color: #fff;
    /* padding will increase the size of the button */
    /* beacause it applies inside the border */
    padding: 12px;
    /* removing the border */
    border: none;
    /* rounding the button edges */
    border-radius: 6px;
    /* when hover on mouse it will change the mouse icon to a pointer */
    cursor: pointer;
}

.container {
    /* image will take all the width */
    width: 100%;
    /* margin 0 for top and botton */
    /* margin auto for left and right, here browser will decide the margin */
    margin: 0 auto;
    /* adding space to the left and right side of the image */
    padding: 0 15px;
}

.navbar {
    /* adding flex and space around the logo and button  */
    display: flex;
    justify-content: space-around;
    /* aligning logo and button to center */
    align-items: center;
}

/* always deal with parent element first before children */
.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
    /*  */
    /* overflow-x: hidden; */
}

/* always deal with parent element first before children */

/* .nav__item { */
/* gradient color */
/* background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%); */
/* applying the whole color of button to white */
/* color: #fff; */
/* padding will increase the size of the button */
/* beacause it applies inside the border */
/* padding: 12px; */
/* removing the border */
/* border: none; */
/* rounding the button edges */
/* border-radius: 6px;
} */
.hero__container {
    width: 100%;
}

/* here before, image was taking the space according to its size */
/* but here since hero__imahe is in the hero__image__container */
/* it will take only space that its parent has */
.hero__image__container {
    width: 100%;
}

.hero__image {
    width: 100%;
}

/* increasing the font size */
.hero__text {
    font-size: 30px;
    color: #1d3557;
    /* adding the outer spacing */
    margin: 20px 0;
}

/* Menu Styles */

.explore__menu__container {
    /* adding space to the top */
    margin-top: 50px;
}

.explore__menu__text {
    font-size: 30px;
    color: #1d3557;
    /* adding the outer spacing */
    margin: 20px 0;
    /* centering the text */
    text-align: center;
}

/* here due to mobile first approach*/
/* we are settign the card to take the whole screen width */
.food__menu__card {
    width: 100%;
    /* applying white background to give a card look */
    background-color: #fff;
    border-radius: 8px;
    /* adding spaces between cards */
    margin-bottom: 15px;
}

/* we are setting the image to take the whole screen width */
.food__image {
    width: 100%;
    /* here image is round from all edges */
    /* but we only need it on upper side */
    /* so we will explicitly define the edge which we wanted to be rounded */
    /* border-radius: 8px; */
    border-radius: 8px 8px 0 0;
}

.food__menu__card__description {
    /* adjusting space for description */
    padding: 20px;
}

.explore__menu__view__more {
    display: flex;
    /* aligning button to the center */
    justify-content: center;
}

/* Flex */
/* adjusting and adding spaces for description */
.restaurants__description {
    font-size: 30px;
    color: #1d3557;
    margin: 20px 0;
    text-align: center;
}

.restaurants__flex__row__one,
.restaurants__flex__row__two {
    /* adding flex and spacing */
    width: 100%;
    display: flex;
    gap: 4px;
}

.restaurants__flex__row__one {
    /* aligninng the items to baseline */
    align-items: baseline;
    margin-bottom: 4px;
}

.restaurant__1__image,
.restaurant__2__image,
.restaurant__3__image,
.restaurant__4__image {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.restaurant__1,
.restaurant__4 {
    /* adjusting width and height */
    width: 100%;
    height: 150px;
}

.restaurant__2,
.restaurant__3 {
    /* adjusting width and height */
    /* here we giving images more width  */
    width: 120%;
    height: 200px;
}

/* tablet devices */
@media (min-width: 768px) {
    .navbar {
        /* adding flex and space between the logo and button  */
        justify-content: space-between;
        /* adding space inside */
        padding: 10px 20px;
    }

    /* increasing the size of the logo thourgh its parent class */
    .navbar__brand {
        width: 150px;
    }

    /*  */
    /* .navbar__item { */
    .button__primary {
        /* increasing the size of the button through padding */
        /* adjusting the height and width of button */
        padding: 12px 20px;
        font-size: 20px;
    }

    /* adding flex */
    .hero__container {
        display: flex;
        /* the image and text will be setup in reverse order */
        flex-direction: row-reverse;
        /* the text will show on center */
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    /* for adding the rohmbus bg wee need to set parent position to relative */
    .explore__menu__container {
        position: relative;
    }

    .explore__menu__gradient__bg {
        /* now setting the child to absolute position*/
        position: absolute;
        /* since we added position attribute */
        /* the height and width might misbehave  */
        /* so we need to explicitly set the values */
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
        /* placing the bg below the cards */
        z-index: -3;
        /* transforming the rectangle to rohmbus*/
        transform: skewY(-5deg);
    }

    .explore__menu__lists {
        /* aligning cards in row and adding gaps between them*/
        display: flex;
        gap: 8px;
        /* adding space between the text and cards */
        margin-top: 50px;
    }

    #pizza__card {
        /* making the card look like pop up*/
        margin-top: -20px;
        /* raising the card from bottom */
        margin-bottom: 30px;
    }

    .restaurants__description {
        /* increasing the font size of the description*/
        font-size: 40px;
        width: 100%;
    }

    .restaurants__container {
        display: flex;
        align-items: center;
    }

    .restaurants__flex {
        width: 100%;
    }
}

@media (min-width: 1020px) {

    /* setting container max-width */
    .container {
        max-width: 900px;
    }

    /* removing this adjusted the image percfetly fine */
    /* when we used flex in general it divided the whote scrren for text and image */
    /* but we set the height and width explicitly to 500px this made the mess */
    /* after removing this, image took the 100% width of its parent */
    /* adjusting the size of image */
    /* .hero__image__container {
        width: 500px;
        height: 500px;
    } */
    .hero__text {
        /* adjusting the font size */
        font-size: 50px;
    }

    .explore__menu__lists {
        /* aligning cards in row and adding gaps between them*/
        /* display: flex; */
        gap: 20px;
        /* increasing the size left and right */
        padding: 0 20px;
        /* adding space between the text and cards */
        /* margin-top: 50px; */
    }

    .explore__menu__text {
        /* increasing the font size*/
        font-size: 50px;
    }

    .restaurants__container {
        margin-top: 30px;
    }
}

@media (min-width: 1400px) {

    /* setting container max-width */
    .container {
        max-width: 1250px;
    }

    /* here text is taking half of the screen width */
    /* and image is taking another half of the screen width*/
}